<div th:insert="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h1 class="admin-main-header">Admin page <br>(Spring Security protected)</h1>

        <h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
        <ul class="admin-ul">
            <li>
                <a class="admin-list-item teal-text" th:href="@{/product/create}">Create Product</a>
            </li>
            <li>
                <a></a>
            </li>
        </ul>
        <form th:action="@{/user/logout}" method="post" class="admin-form">
            <input type="submit" value="Sign Out" class="admin-sign-out-btn" />
        </form>

    </div>
    </body>

    </html>