body {
    background: #fff;
}
.navbar-checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    background-image: linear-gradient(to right top, #f3f3f3, #f6f6f6, #f9f9f9, #fcfcfc, #ffffff);
    margin: 0;
}
.lock-icon-div {
    margin-right: 5rem;
}
.fa-lock {
    color: #999999;
    font-size: 22px;
}
.checkout-nav-header {
    font-size: 28px;
    color: #0F1111;
}
.checkout-main-container {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: start;
    margin-bottom: 2rem;
}
.teal-text-fine {
    color: #017185;
    margin: 0;
}
.cart-header {
    display: flex;
    justify-content: flex-start;
}
.shipping-container {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}
.user-shipping-text {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.checkout-product-list {
    list-style-type: none;
    display: grid;
    align-items: flex-start;
}
.payment-container {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}
.checkout-product-container {
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #D5D9D9;
    border-radius: 5px;
    display: grid;
   grid-template-columns: 1fr 1fr 2fr;
}
.checkout-price-text {
    font-size: 14px;
    color: #B12704;
    font-weight: 700;
}
.submit-order-container {
    margin: 0;
}
.submit-button-container {
    margin: .75rem 0;
    text-align: center;
}
.submit-order-button-subtotal-container {
    background: #fff;
    margin: 1rem;
    padding: 2rem 1rem;
    display: grid;
    justify-items: center;
    border: 1px solid #D5D9D9;
    border-radius: 5px;
    width: 285px;
}
.test {
    display: grid;
    align-items: flex-end;
}
.checkout-header {
    color: #0F1111;
    font-size: 18px;
    font-weight: 700;
    margin-left: 1.15rem;
}
.order-summary-details {
    color: #0F1111;
    font-size: 12px;
    line-height: 20px;
}
.privacy-notice-text {
    color: #565959;
    font-size: 12px; 
    text-align: center;
    margin: 0 0 .30rem;
}
.teal-text-checkout {
    color:#007185;
    text-decoration:none;
    margin: 0rem;
}
.checkout-hr-bottom {
    margin: .15rem 0 .85rem;
}
.hr-above-order-summary {
    margin: 0 0 .75rem;
}
.subtotal-text {
    font-size: 18px;
    color: #B12704;
    font-weight: 700;
    line-height: 24px;
}
.subtotal-span {
    margin-left: 5rem;
}
.checkout-price-text {
    margin: 0;
}
.checkout-quantity-container select {
    height: 20;
    width: 63.59px;
    font-size: 11px;
}
.green-text-checkout {
    color: #007600;
    font-size: 14px;
    margin: 0;
}
.choose-delivery-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
}
.checkout-fine-print {
    color: #565959;
    font-size: 12px;
    padding: .5rem 3rem;
    line-height: 16px;
    margin: 0;
}