.footer-container {
    background-color: #F96302;
    padding: 2rem 4rem 0;
    text-align: center;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
.footer-div-container {  
  padding-right: 3rem;
}
.footer-container div ul {
    list-style: none;
    text-align: left;
}
.footer-container div ul {
    list-style: none;
}
.footer-container div ul li{
  font-size: 14px;
  color: #dddddd;
}
a.menu:hover {
  background-color:yellow;
  font-size:20px;
}
.product-details-text {
    margin: 0;
}
.link-black-text {
    color: #0F1111;
    text-decoration: none;
}
.link {
  text-decoration: none;
  color: #fff;
  margin: 0 1rem;
}
.link:hover {
  color: yellow;
}
.footer-header {
  font-size: 16px;
  color: white;
}
.footer-logo-container {
  padding: 0;
}
