.footer {
    background-color: #F96302;
    padding: .5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  
  a.menu:hover {
    background-color:yellow;
    font-size:20px;
  }
  .product-details-text {
      margin: 0;
  }
  .link-black-text {
      color: #0F1111;
      text-decoration: none;
  }
  .footer-home-link {
    /* position: absolute;
    bottom: 5px;
    left: 25px; */
  }
  .footer-about-link {
    /* position: absolute;
    bottom: 5px;
    left: 100px; */
  }
  .link {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
  }
  .link:hover {
 
    color: yellow;
    
  }