<div th:insert="fragments/header :: header"></div>

<section style="display: grid; justify-items: center;">
 
  
        <img th:src="@{img/misc/404.png}" alt="page with tongue out and x's on eyes"
                        class="error-logo" >
    
      <p style="margin-top: 3rem;" >
        <a th:href="@{/}" class="start-shopping-text" style="text-decoration: none; color: #0F1111; font-size: 2rem;  background: #F96302;">
          Continue
        </a>
      </p>
  
   
</section>

<div th:insert="fragments/footer :: footer"></div>