<div th:insert="fragments/header :: header"></div>
<main class="main-container" style="display:flex; justify-items:center;">
    <div class="container">
        <h2 class="mb-3">File upload example</h2>
        <form method="POST" action="/fileUploadSubmit" enctype="multipart/form-data">
           <div class="row col-4 mb-2">
                   Select a file to upload
           </div>
           <div class="row col-4 mb-3">
                   <input type="file" name="file" />
               </div>
               <div class="row col-1 mb-1">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</main>
<div th:insert="fragments/footer :: footer"></div>