<div th:insert="fragments/header :: header"></div>

<div class="dropdown">
  <label for="categories"></label>
  <select name="categories" id="categories" onchange="loadCategoryProducts(this)">
    <option value="">Select a Department</option>
    <option value="garden">Lawn and Garden</option>
    <option value="indoor">Indoor Plush</option>
    <option value="clothing">Clothing</option>
    <option value="books">Books</option>
  </select>
</div>
<main>
  <section>
    <div class="products-container" id="products-container">

      <div class="product-card" th:each="product: ${products}">


        <a width="300px" height="500px" th:href="@{/productDetails(id = ${product.id})}">
          <img th:src="@{*{product.image}}" alt="" width="300px">
        </a>
        <div class="product-card-details">
          <a class="product-name" th:href="@{/productDetails(id = ${product.id})}">
            <h4 class="product-name-text" th:text="*{product.name}">
            </h4>
          </a>
          <p class="product-stars" th:text="*{product.stars} + ' ' + *{product.ratingCount}">

          </p>
          <p [[starGenerator(*{product.stars})]]>

          </p>
          <p class="margin" th:text="*{product.price}">
          </p>

          <p th:text="*{product.price}"></p>
          <select id="quantity">
            <option th:value="1">1</option>
            <option th:value="2">2</option>
            <option th:value="3">3</option>
            <option th:value="4">4</option>
            <option th:value="5">5</option>
          </select>
          <a th:href="@{/order/addToCart(id=${product.id})}" class="btn btn-lg btn-outline-info btn-block">Add to Cart</a>
        </div>

        <!-- <form method="post" th:action="@{/cart/add}" th:object="${cartItem}">
          <input id="product" required th:field="*{product}" hidden/>
          <select id="quantity" required th:field="*{quantity}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input type="submit" value="Add to cart">
      </form> -->

        
          
        


      </div>
    </div>
  </section>
</main>
<div th:insert="fragments/footer :: footer"></div>