<div th:insert="fragments/header :: header"></div>
<section class="form-container">
    <div class="login-error-container">
        <div th:if="${param.error}">
            <p class="red-error-text">Invalid username and/or password.</p>
        </div>
        <div th:if="${param.logout}">
            <p class="red-error-text">You have been logged out.</p>
        </div>
    </div>
    <form action="/user/loginpost" method="POST">
        <div class="row justify-content-center">
            <div class="mt-2 mb-3 col-4">
                <label for="username" class="form-label">Username</label>
                <input type="username" name="username" class="form-control" id="username"
                    aria-describedby="usernameHelp">
                <div id="usernameHelp" class="form-text">Enter your username</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mt-2 mb-3 col-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password"
                    aria-describedby="passwordHelp">
                <div id="passwordHelp" class="form-text">Enter your password</div>
            </div>
        </div>a
        <div class="row justify-content-center">
            <div class="mt-2 mb-3 col-4">
                <button type="submit" class="btn btn-warning">Submit</button>
                <div class="alternative-container">
                    <p>Don't Have an Account?<a th:href="@{/user/register}" class="sign-up-text"
                            style="color: #F96302;"> Sign up here!</a></p>
                </div>
            </div>
        </div>
    </form>
</section>
</body>

</html>