<div th:insert="fragments/header :: header"></div>
<main class="prod-details-main-container" th:object="${productDTO}">
  <section >
    <div class="prod-detail-image-container">
      <h6 th:text="${productDTO.name}"></h6>
      <div>
        <p th:text="${productDTO.stars}"></p>
        <p th:text="${productDTO.ratingCount}"></p>
      </div>
      <div>
        <img th:src="${productDTO.image}" alt="" width="600">
      </div>
  </section>
  <section class="prod-details-add-cart-container" th:object="${orderDetailsDTO}">
    <div >
      <h5 th:text="${#numbers.formatCurrency(productDTO.price * orderDetailsDTO.quantity)}"></h5>
    </div>
    <div >
      <form method="post" th:object="${cartItem}" th:action="@{/product/details}">
        <input type="hidden" th:name="id" th:value="${orderDetailsDTO.id}" />
      <div class="cart-quantity-container">
        <select th:name="quantity" th:value="${orderDetailsDTO.quantity}" >
            <option th:value="${orderDetailsDTO.quantity}" th:text="${orderDetailsDTO.quantity}" selected></option>
            <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}">
            </option>
        </select>
      <input type="submit" value="Add to cart" class="checkout-btn"></a>
      </form>
    </div>
    <!-- <div>
      <a th:href="@{/order/add(id=${productDTO.id})}" class="checkout-btn">Add to Cart</a>
      onchange="this.form.submit()"
    </div> -->
    <!-- value="Add to Cart" class="checkout-btn" -->
  </div>
  </section>
 
  
</main>
<div th:insert="fragments/footer :: footer"></div>