<div th:insert="fragments/header :: header"></div>
<main class="prod-details-main-container" th:object="${productDTO}">
  <section >
    <div class="prod-detail-image-container">
      <h6 th:text="${productDTO.name}"></h6>
      <div style="margin-bottom: 1rem;">
        <p th:text="${productDTO.stars}" id="product-stars" style="display: inline;"></p><span th:text="${' (' + productDTO.ratingCount + ')'}" ></span>
      
      </div>
      <div>
        <img th:src="${productDTO.image}" alt="" width="600">
      </div>
  </section>
  <section class="prod-details-add-cart-container" >
    <div >
      <h5 th:text="${#numbers.formatCurrency(productDTO.price)}"></h5>
    </div>
    <div >
      <form method="post" th:object="${productQuantityDTO}" th:action="@{/order/add}" class="prod-details-form">
        <input type="hidden" th:name="id" th:value="${productDTO.id}" />
    
        <!-- <select th:name="quantity" th:value="${quantity}" class="quantity-dropdown">
            <option th:value="${quantity}" th:text="${quantity}" selected></option>
            <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}" selected="selected">
            </option>
        </select> -->
        <p th:if="${productDTO.quantityInStock < 10}" th:text="${'Only ' + productDTO.quantityInStock + ' left in stock - order soon.'}" class="red-low-stock-text"></p>
        <select th:name="quantity" th:value="${quantity}" class="quantity-dropdown">
          <option th:value="${1}" th:text="${'Qty: ' + 1}" selected></option>
          </option>
        
          <option th:each="i : ${#numbers.sequence(1, 20)}" th:value="${i}" th:text="${i}" >
           
          </option>
         
      </select>
      <input type="submit" value="Add to cart" class="prod-details-add-btn"></a>
      </form>
  
  
    <!-- <div>
      <a th:href="@{/order/add(id=${productDTO.id})}" class="checkout-btn">Add to Cart</a>
      onchange="this.form.submit()"
    </div> -->
    <!-- value="Add to Cart" class="checkout-btn" -->
  </div>
  </section>
 

 
  
</main>
<section class="about-item-section" th:object="${productDTO}">
  <h3 class="black-text-header">About this item</h3>
  <p style="margin: 0;">
    <a class="btn details-btn" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Details</a>
    <button class="btn details-btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Shipping & Returns</button>
    <button class="btn details-btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Q & A</button>

  </p>
  <hr>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body" th:text="${productDTO.description}">
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          <h6>Shipping details</h6> 
          Estimated ship dimensions: 4 inches length x 4 inches width x 11 inches height
          Estimated ship weight: 0.5 pounds
          This item cannot be shipped to the following locations: APO/FPO, American Samoa, Guam, Northern Mariana Islands, Puerto Rico, United States Minor Outlying Islands, Virgin Islands, U.S., Alaska, Hawaii
          item ships from third party seller: Christmas Central
          
          <h6 style="margin-top: 1rem;">Return details</h6> 
          This item can be returned to any Target store or Target.com.
          This item must be returned within 90 days of the date it was purchased in store, shipped, delivered by a Shipt shopper, or made ready for pickup.
          See the return policy for complete information.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="card card-body question-container">
          <a class="ask-question-btn">Ask a question</a>
        </div>
      </div>
    </div>
  </div>
 
</section>

<div th:insert="fragments/footer :: footer"></div>