<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <script th:src="@{https://kit.fontawesome.com/74b01ed38e.js}" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css"> -->
  <link rel="stylesheet" th:href="@{css/main.css}">
  <link rel="stylesheet" th:href="@{css/register.css}">
</head>

<body>
  <div id="messageBar" style="background:#F96302;">
    <a th:href="@{/}" class="messageBar" style="color:white;">Black Friday Savings Happening Now. End 11/30</a>
  </div>
  <nav class="navbar">
    <div class="logo-container">
      <a class="" th:href="@{/}">
        <img th:src="@{/img/navbar/gnome-depot-logo.png}" alt="home depot square orange logo" id="gnome-logo">
      </a>
    </div>
    <div class="search-container">
      <form class="search-form">
        <input class="search-input" type="search" placeholder="What gnome can we help you find today?"
          aria-label="Search">
        <button class="search-button" type="submit"><i class="fas fa-search fa-lg"></i></button>
      </form>
    </div>
    <div class="cart-container">
      <a th:href="@{/cart}">
        <img th:src="@{/img/navbar/shopping-cart-gnome-depot.png}" alt="" class="shopping-cart" width="40px">
      </a>
    </div>
  </nav>
  <main class="main-container">
    <section class="login-container">
      <h1 class="login-header">Register</h1>
      <form method="post" th:object="${user}" th:action="@{submitUser}">
        <div class="input-container">
          <p class="error-message" th:errors="*{firstName}"></p>
          <input type="text" placeholder="First Name" th:field="*{firstName}">
          <p class="error-message" th:errors="*{lastName}"></p>
          <input type="text" placeholder="Last Name" th:field="*{lastName}">
        </div>
        <div class="input-container">
          <p class="error-message" th:errors="*{username}"></p>
          <input type="text" placeholder="Username" th:field="*{username}">
          <p class="error-message" th:errors="*{password}"></p>
          <input type="text" placeholder="Password" th:field="*{password}">
        </div>
        <div>
          <p class="error-message" th:errors="*{address1}"></p>
          <input type="text" placeholder="Address1" th:field="*{address1}">        
        </div>   
        <div class="input-container">
          <input type="text" placeholder="Address2" th:field="*{address2}">
        </div>
        <div class="input-container">
          <p class="error-message" th:errors="*{city}"></p>
          <input type="text" placeholder="City" th:field="*{city}">
          <p class="error-message" th:errors="*{state}"></p>
          <input type="text" placeholder="State" th:field="*{state}">
        </div>
        <div class="input-container">
          <p class="error-message" th:errors="*{postalCode}"></p>
          <input type="text" placeholder="Zip Code" th:field="*{postalCode}">
          <p class="error-message" th:errors="*{country}"></p>
          <input type="text" placeholder="Country" th:field="*{country}">
        </div>
        <div class="input-container">
          <p class="error-message" th:errors="*{email}"></p>
          <input type="text" placeholder="Email" th:field="*{email}">
          <p class="error-message" th:errors="*{phone}" ></p>
          <input type="text" placeholder="Phone" th:field="*{phone}">
          <p style="font-weight: bold">Date of Birth</p>
          <p style="color: red" th:errors="*{dateOfBirth}"> </p>
          <input type="date" th:field="*{dateOfBirth}"> <br><br>
        </div>
       
        
        
      
        <div class="input-container">
        </div>
          <input type="submit" value="Submit" class="login-form-submit">
        </div>

      </form>

      <!-- <div>
                <p>Already a member?<a href="/index.html" class="sign-up-text"> Login here.</a></p>
            </div> -->
    </section>
  </main>
  <script src="/js/login.js"></script>
</body>

</html>