<div th:insert="fragments/header :: header"></div>
<style>
  h1 {
    color: #F96302;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .welcome-text {
    color: #333333;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
  }
  .checkmark {
    color: #F96302;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
  }
  .success-container {
    text-align: center;
  }
  .start-shopping-text {
    text-decoration: none;
    color: #F96302;
    font-weight: 700;
    font-size: 1.5rem;
    opacity: 85%;
  }
  .start-shopping-text:hover {
    text-decoration: none;
    color: #F96302;
    font-weight: 700;
    font-size: 1.5rem;
    opacity: 100%;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }
</style>
<section style="margin-bottom: 15rem;">
  <div class="success-container">
    <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
      <h1>Order Complete!</h1>
        <a th:href="@{/}" class="start-shopping-text">
          Continue shopping
        </a>
    </div>
  </div>
</section>
<div th:insert="fragments/footer :: footer"></div>